<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>NOVO, LLC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="oFE8bTXBaHuElQ_GCzk9_7GR3VJFg7B8_u892Jav7yY" />
		<link rel="stylesheet" href="/static/css/novo.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<div style="height:100px;"></div>
	    <div class="col-md-2"></div>
	    <div class="col-md-8">
	    	<!--<h1 class="header1">Welcome to</h1>-->
	    	<p class="logoalign"><img src="/static/images/novologo.png" class="logo"></p>
			<div style="height:100px;"></div>
			<div style="width:100%">  
			  <div style="display: table;margin: 0 auto;" class="triangle"><p class="header1">NOVO</p></div>
			</div>

	    	<div style="height:150px;"></div>

	    	<h1 class="header1">software and web-development, PR and socialmedia, content creation, creative solutions</h1>


	    	<h2 class="contact">Contact us at <a href="mailto:experiencenovo@gmail.com">experienceNOVO@gmail.com</a>!</h2>
	    	<div style="height:150px;"></div>

	  	</div>

	</body>
</html>