<!DOCTYPE html>
<html>
  <head>
    <title>project novo</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/cover.css" type="text/css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <style>
      #section1{height:888px;background-color:rgb(250,250,250);padding-left:15%;padding-right:15%;}
      #section2{height:888px;background-color:#60B36B;padding-left:15%;padding-right:15%;}
      #section3{height:1480px;background-color:rgb(100,150,200);padding-left:15%;padding-right:15%;}
      #section4{height:888px;background-color:#D6D6C7;padding-left:15%;padding-right:15%;}
      #footer{height:260px;background-color:rgb(50,50,50);padding-left:15%;padding-right:15%;}
      .navbar{margin-bottom:0px;}
      .videoWrapper {
        background-color:rgb(0,0,0);
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
      }
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">project novo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">services</a></li>
            <li><a href="#">technologies</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">email / contact</a></li>
            <li><a href="#">888-888-8888</a></li>
            <li><a href="#">login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="videoWrapper">
      <iframe src="https://player.vimeo.com/video/102787065?autoplay=1&amp;loop=1&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div id="section1">
      <br><br>
      <h1 style="font-size:48px;">this is our story...</h1>
      <br><br><br>

      <p class="lead"></p>

      <p>we walk you through everystep of the way</p>

      <p>custom software</p>

      <!--<p class="lead">what did they charge you for your current website?</p>
      <p class="lead">did they tell you it was custom-built? or does it use wordpress?</p>
      <p class="lead">yea that’s what I thought…</p>
      <p class="lead">tired of being deceived into paying too much because it’s not your job to know web design?</p>
      <h3>call us to begin your novo experience and find out how a designer/client relationship should work.</h3>-->


      <br><br>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        CALL TO ACTION
      </button>
      <br><br><br>

      <p class="lead">the world and the way business is done is constantly changing and evolving.</p>
      <p class="lead">a business is hard enough to build and grow without having to navigate the vast sea of technological changes occurring daily.</p>
      <p class="lead">we are novo.</p>
      <p class="lead">we'll show show you everything we do. embracing the idea of transparency</p>


      collaborative/open, boundless, creative, functional, customer driven


    </div>
    <div id="section2">
      <br><br>
      <h1>technologies we know</h1>
      <p class="lead">we know modern web development</p>
      <p class="lead">we're more than wordpress</p>

      <table width="100%">
        <tr>
          <td>
            <p>Languages</p>
            <p>HTML</p>
            <p>HTML5</p>
            <p>CSS</p>
            <p>CSS3</p>
            <p>SCSS(SASS)</p>
            <p>Javascript</p>
            <p>PHP</p>
            <p>SQL</p>
            <p>Python</p>
            <p>Java</p>
            <p>R</p>
            <p>Julia</p>
            <p>LaTex</p>
          </td>

          <td>
            <p>Frameworks</p>
            <p>node.js</p>
            <p>Emberjs</p>
            <p>Angularjs</p>
            <p>Sailsjs</p>
            <p>Bootstrap 3</p>
            <p>jQuery</p>
          </td>

          <td>
            <p>APIs</p>
            <p>Google Font</p>
            <p>MailChimp</p>
            <p>Google Maps</p>
            <p>Twilio</p>
            <p>YouTube</p>
            <p>Facebook</p>
            <p>Google Location Data</p>
          </td>
        </tr>
      </table>


    </div>
    <div id="section3">
      <br><br>
      <h1>services we provide</h1>
      <p>custom nodejs applications</p>
      <p>custom android applications</p>
      <p>custom iphone application</p>
      <p>content -- photos - video production</p>
      <p>social media, develop a strategy</p>
      <p>creative agency??</p>


      <h3>our areas of focus</h3>
      <h5>“complete brand integration”(CBI)</h5>
      <p>Your “technological brand” is now a customer’s very first impression of your business.  to ensure your first impression on your customer is the best it can be, we dive deep into what makes your company so attractive to your customer and blend those attributes with the vision you want to communicate to your customer.<p>

      <p>brand development</p>
      <p>company culture - “internal brand” - organizational culture is the very basis for what shapes the customer’s view of your company.</p>
      <p>company identity - “external brand” - branding is the physical product as seen through the perspective of the customer.  Your brand is your promise to your customer.  It tells them what they can expect from your services and what exactly differentiates you from your competition.</p>
      <p>Brand Architecture - If needed, our graphic designer will take the information gathered throughout Brand Development and apply it to graphic principles including color, shape, texture, space, and form.
      Brand Message - content shaping your desired message to your customers; how you communicate what your business does.</p>

      <h5>“Complete Technological Integration”(CTI)</h5>
      <p>Custom Web Design</p>
      <p>Search Engine Optimization</p>
      <p>Google Analytics</p>
      <p>Heap Analytics</p>
      <p>MailChimp</p>
      <p>Google Maps</p>
      <p>YouTube</p>
      <p>Facebook</p>
      <p>Twilio API</p>
      <p>TrustedResponse</p>

      <h5>“Integrated Marketing Solutions”(IMS)</h5>
      <p>Search Engine Optimization</p>
      <p>Email Marketing</p>
      <p>Website Analytics</p>
      <p>Social Media</p>


    </div>
    <div id="section4">
      <br><br>
      <h1>let's talk!</h1>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        call us
      </button>

      <br><br><br>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">message</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="message">
        </div>
        <button type="submit" class="btn btn-default">submit</button>
      </form>



    </div>

    <div style="height:222px;background-color:rgb(50,50,50);padding-left:10%;padding-right:10%">
      <br>
      <div style="float:left;">
        <a style="font-size:26px;font-weight:bold;color:rgb(255,255,255);padding-left:10px;" href="/artists/">what we offer</a>
        <a style="font-size:26px;font-weight:bold;color:rgb(255,255,255);padding-left:10px;" href="/discussion/">prices</a>
        <a style="font-size:26px;font-weight:bold;color:rgb(255,255,255);padding-left:10px;" href="/donate/">contact</a>
        <a style="font-size:26px;font-weight:bold;color:rgb(255,255,255);padding-left:10px;" href="/gallery/">services</a>
        <a style="font-size:26px;font-weight:bold;color:rgb(255,255,255);padding-left:10px;" href="/store/">call us</a>
        <br>
      </div>
      <div style="float:right;">
        <br><br><br><br>
        <a href=""><i id="social-footer" class="fa fa-facebook"></i></a>
        <a href=""><i id="social-footer" class="fa fa-instagram"></i></a>
      </div>
    </div>
  </body>
</html>
 
  

    