<!DOCTYPE html>
<html>
  <head>
    <title>givingfor - giving is receiving</title>
  	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
  	<link rel="stylesheet" href="/static/css/cover.css" type="text/css" />
  	<link rel="stylesheet" href="/static/css/font-awesome.min.css">
  	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="/static/js/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/ejs_production.js"></script>
  </head>
<script>
 for (var i = 0; i < 15; i++) {
  var cooltransaction = new transactions({
    member_send: "Bill",
    member_receive: "Steve",
    project: "Microsoft",
    currency_array: "1000",
    currency_value_array: "1000",
    value : i*100,
  });
    cooltransaction.save(function (err, cooltransaction) {
      if (err){ return console.error(err);}
  });
  };
</script>
<style>
    #project-list-container{text-align:center;width:100%;}
    #project-list-item{border:2px solid rgb(180,180,180);display:inline-block;padding:10px;margin:7px;border-radius:5px;background-color:rgb(225,225,225)}
    #project-list-item:hover{border:2px solid rgb(110,110,110);display:inline-block;padding:11px;margin:7px;border-radius:5px;background-color:rgb(235,235,235);}
    #project-list-item p{color:rgb(80,80,80);}
    #transparency-div p{color:rgb(80,80,80);}
    #about-text:hover{color:rgb(255,255,255);}
    #discover-text:hover{color:rgb(255,255,255);}
    #search-text:hover{color:rgb(255,255,255);}
    #login-text:hover{color:rgb(255,255,255);}

</style>
<script>
$(function() {

var width = window.innerWidth;
var height = window.innerHeight;

var canvas = document.getElementById("canvas");
var ctx = canvas.getContext('2d');
canvas.width = width;
canvas.height = height;
ctx.translate (canvas.width/2, canvas.height/2);

ctx.fillStyle = "#000000";

var angle = Math.PI / 2;
var iterations = 1;

var colors = ["72CBDB", "55134E", "A0596B", "FEC343", "EF7351", ];
var colorId = 0;

var andleOfExpL = Math.PI / 6;
var andleOfExpR = Math.PI / 3;

function iterate(startPoitn, deg, iteration){
  var lenght = (iterations / iteration) * 15;
  var lineBeginning = startPoitn;
  var size = lenght/30;
  
  var lineEnding = new point(lineBeginning.x + lenght * Math.cos(deg + andleOfExpL), lineBeginning.y + lenght * Math.sin(deg + andleOfExpL));
  var lineEnding2 = new point(lineBeginning.x + lenght * Math.cos(deg - andleOfExpR), lineBeginning.y + lenght * Math.sin(deg - andleOfExpR));
  
  drawLine(lineBeginning, lineEnding, size);
  drawLine(lineBeginning, lineEnding2, size);
  
  if(iteration > iterations){
    ctx.fillStyle = "#" + colors[colorId % colors.length];
    colorId++;
    ctx.arc(lineEnding.x, -lineEnding.y, 5, 0, 2 * Math.PI, false);
    ctx.closePath();
    ctx.arc(lineEnding2.x, -lineEnding2.y, 3, 0, 2 * Math.PI, false);
    ctx.fill();
    return;
  }
  
  iterate(lineEnding, deg + andleOfExpL, iteration + 1);
  iterate(lineEnding2, deg - andleOfExpR, iteration + 1);
}


var param = 0;
function animate(){
  if(iterations < 7){
    iterations += 0.05;
  }
  clear();
  colorId = 0;
  andleOfExpR = getDir(new point(0, Math.sin(param/20)*8), new point(Math.abs(mouse.x), mouse.y));
  andleOfExpL = getDir(new point(0, Math.sin(param/10)*10), new point(Math.abs(mouse.x), mouse.y));
  
  drawLine(new point(0,-50), new point(0, -150), 4);
  iterate(new point(0,-50), angle, 1);
  param++;
}

setInterval(animate, 25);

function clear(){
  ctx.clearRect(-canvas.width/2, -canvas.height/2, canvas.width, canvas.height);
}

var mouse = new point(10, 10);
canvas.addEventListener('mousemove', function(e){
  mouse.x = e.clientX - $('#canvas').offset().left - canvas.width/2;
  mouse.y = -(e.clientY - $('#canvas').offset().top - canvas.height/2);
});

function getDir(pointA, pointB){
  //return Math.atan(-(pointB.y - pointA.y) / (pointB.x - pointA.x));
  return -Math.atan2(pointB.x - pointA.x, pointB.y - pointA.y) + Math.PI/2;
}

function rand(min, max){
  return Math.floor(Math.random() * max) + min;
}

function point(x, y){
  this.x = x;
  this.y = y;
}

function drawLine(pointA, pointB, size){
  x1 = pointA.x;
  y1 = pointA.y;
  x2 = pointB.x;
  y2 = pointB.y;
  
  y2 = -y2;
  y1 = -y1;

  ctx.strokeStyle = "rgba(141, 89, 36," + (size/iterations + 0.3) + ")";

  ctx.lineWidth = size;
  ctx.beginPath();
  ctx.moveTo(x1, y1);
  ctx.lineTo(x2, y2);
  ctx.stroke();
  ctx.closePath();
  //ctx.fillRect(x2 - 1, y2 - 1, 2, 2);
}
});
</script>
<canvas id="canvas"></canvas>

  <body style="background-color:#408C4B;">
  	<div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container" style="width:80%">
          <div class="masthead clearfix">
            <div class="inner">
              <a href="/"><img style="float:left;height:88px;" src="/static/images/tree.png"/><h3 class="masthead-brand" style="padding-top:20px;" id="logo-text">giving</h3><h3 id="logo-text" class="masthead-brand" style="color:rgb(203, 204, 203);padding-top:20px;" >for</h3></a>
              <ul class="nav masthead-nav">
                <li><a href="/about/" style="padding-top:35px;" id="about-text">about</a></li>
                <li><a href="/discover/" id="discover-text"><i class="fa fa-random" style="margin-right:5px;"></i>discover</a></li>
                <li><a href="/search/" id="search-text"><i class="fa fa-search"></i></a></li>
                <li><a data-toggle="modal" href="#login-or-signup" id="login-text">login or signup</a></li>
              </ul>
            </div>
          </div>
        </div>
        <br><br><br><br>
          <div style="height:840px;padding-top:8px;">
            <h1 class="cover-heading">givingfor...</h1>

            <br><br><br>

            <h1 class="cover-heading">what can you give the world?</h1>
            <p class="lead">everyone needs a little help, and everyone has a little to give.</p>
            <p class="lead">
              <a href="/about/"><button type="button" class="btn btn-primary">learn more</button></a>
            </p>
            <i class="fa fa-circle-thin" style="font-size:64px;"></i>
            <p class="lead">giving is receiving</p>

          </div>
          <br><br><br><br>
          <div style="background-color:#FECF5E;padding:20px;">
          	<br><br><br>
          	<div style="float:left;">
            	<p class="lead" style="color:#2f2e2e;">what some need, some have to give</p>
          		<p class="lead" style="color:#2f2e2e;">by helping each other, we all grow</p>
          		<p class="lead" style="color:#2f2e2e;">crowd-volunteer, crowd-source, crowd-fund</p>
          	</div>
          	<img style="float:right" src="/static/images/tree.png"/>
          	<div style="clear:both;"></div>
          	<i class="fa fa-circle-thin" style="font-size:256px;"></i>
              <a href="/discover/"><button type="button" class="btn btn-primary">discover!</button></a>
          	<br><br><br>
          </div>

          <div style="background-color:#2f2e2e;padding:20px;">
          	<br><br><br><br>
          	<div style="margin-left:25%;margin-right:25%;">
          		<br><br>
	          	<h1>what can you give?</h1>
	          	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="giving">

	          	<br><br><br>

	          	<h1>what can help?</h1> 
      				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="receiving">
      				<br><br><br>
      			</div>
      			<br><br><br><br>
       	  </div>

       	  <div style="background-color:#34495E;padding:20px;">
          	<br><br><br><br><br><br>
          	<div style="">
	          	<h1>volunteering, giving skills, getting help. projects</h1><hr>
				      <i class="fa fa-wrench" style="font-size:64px;"></i>
              <div id="project-list-container">
                <% for(var i=0; i<10; i++) {%>
                  <div id="project-list-item">
                    <p class="lead" style=""><a href="/project/">project title</a></p>
                    <img src="/static/images/noimage.png"/>
                    <p style="">detail detail detail detail detail</p>
                    <% for(var j=0; j<5; j++) {%>
                      <a href="/project/">tag</a>
                    <% } %>

                  </div>
                <% } %>
              </div>

			       </div>
			       <br><br><br><br><br><br>
       	  </div>

       	  <div style="background-color:rgb(230, 230, 230);padding:20px;">
          	<br><br><br><br>
          	<div id="transparency-div" style="margin-left:25%;margin-right:25%;">
				      <h1><a herf="/transparency/" style="color:rgb(20,20,20)"><i style="font-size:64px" class="fa fa-search"></i> transparency</a></h1>
				      <i class="fa fa-area-chart" style="font-size:64px;"></i>
				      <i class="fa fa-pie-chart" style="font-size:64px;"></i>
              <p class="lead">graphs and such. raw data. member data. open network.</p>
              <table class="table table-striped">
                <thead>
                    <tr>
                      <th>"#"</th>
                      <th>From</th>
                      <th>To</th>
                      <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                <% for (var i = 0; i<10; i++) { %>
                  <tr>
                    <td><%= i %></td>
                    <td>trevor</td>
                    <td>some guy</td>
                    <td>$<%= i %></td>
                  </tr>
                <% } %>
                </tbody>
              </table>

			     </div>
			     <br><br><br><br>
       	  </div>


       	  <div style="background-color:#34495E;padding:20px;">
          	<br><br><br><br>
          	<div style="margin-left:25%;margin-right:25%;">
	          	<h1>giving is receiving</h1>
            </div>
			     <br><br><br><br>
       	  </div>

       	  <div style="background-color:#2f2e2e;padding:20px;">
          	<br><br><br><br>
          	<div style="margin-left:25%;margin-right:25%;text-align:center;">
	          	<i style="font-size:256px;" class="fa fa-heart"></i>
              <br><br><br><br><br>

              <a><button type="button" class="btn btn-primary">share <i style="fa fa-circle-thin"></i></button></a>
              <input style="width:50%;float:left;" type="email" class="form-control" id="exampleInputEmail1" placeholder="email">
              <input style="width:50%;float:left;" type="email" class="form-control" id="exampleInputEmail1" placeholder="password">

              <a hre="/project/givingfor/"><button type="button" class="btn btn-primary">donate <i style="fa fa-circle-thin"></i></button></a>
              <p>donation progress</p>


              <div class="progress progress-striped active">
                <div class="bar" style="width: 40%;"></div>
              </div>

			     </div>
			     <br><br><br><br>
       	  </div>

      </div>
    </div>

  </body>
</html>
 
  

		