<!DOCTYPE html>
<html>
  <head>
    <title>Project Novo</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="static/css/cover.css" type="text/css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <style>
      #section1{height:888px;background-color:rgb(100,150,200);padding-left:15%;padding-right:15%;}
      #section2{height:888px;background-color:rgb(150,100,200);padding-left:15%;padding-right:15%;}
      #section3{height:888px;background-color:rgb(150,150,200);padding-left:15%;padding-right:15%;}
      #section4{height:888px;background-color:rgb(150,150,150);padding-left:15%;padding-right:15%;}
      #footer{height:260px;background-color:rgb(50,50,50);padding-left:15%;padding-right:15%;}
      .navbar{margin-bottom:0px;}
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project Novo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Services</a></li>
            <li><a href="#">Technologies</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">email / contact</a></li>
            <li><a href="#">888-8888-888</a></li>
            <li><a href="#">login</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="section1">
      <br><br>
      <h2>this is our story</h2>
      <p class="lead">What did they charge you for your current website?<br>
      <p class="lead">Did they tell you it was custom-built? Or does it use Wordpress?</p><br>
      <p class="lead">Yea that’s what I thought…</p><br>
      <p class="lead">Tired of being deceived into paying too much because it’s not your job to know web design?</p><br>
      <p class="lead">Here at Novo, we design actual custom websites at a price to match quality.</p><br>
      <h3>Call us to begin Your Novo Experience and find out how a designer/client relationship should work.</h3><br>
      <p class="lead">The world and the way business is done is constantly changing and evolving.</p>
      <p class="lead">A business is hard enough to build and grow without having to navigate the vast sea of technological changes occurring daily.</p>
      <p class="lead">Why not let a company built on change manage all those technological hurdles for you?</p>
      <p class="lead">We are Novo.</p>
      <p class="lead">we'll show show you everything we do. embracing the idea of transparency</p>


    </div>
    <div id="section2">
      <br><br>
      <h1 style="text-align:center;">Technologies we know</h1>
      <p class="lead"extensive list</p>
      <p class="lead">we're more than wordpress</p>
    </div>
    <div id="section3">
      <br><br>
      <h1 style="text-align:center;">Services we provide</h1>

      <p>custom nodejs applications</p>
      <p>custom android applications</p>
      <p>custom iphone application</p>
      <p>content -- photos - video production</p>
      <p>social media, develop a strategy</p>

    </div>
    <div id="section4">
      <br><br>
      <h1 style="text-align:center;">let's talk!</h1>
      <p> call us</p>
      <p>email form</p>
    </div>

    <div id="footer">
      <h1>2015 novo</p>
    </div>
  </body>
</html>
 
  

    