<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>NOVO, LLC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="static/css/temp.css">
		<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<h1 class="header1">Welcome to</h1>
		<p class="logoalign"><img src="static/images/novologo.png" class="logo"></p>
		<h2 class="header2">Site Coming Soon!</h2>
		<h2 class="contact">Contact us at <a href="mailto:experiencenovo@gmail.com">experienceNOVO@gmail.com</a>!</h2>
	</body>

</html>